<h1>Welcome to manager</h1>


<mat-card class="example-card">
  <mat-card-title>Staff.</mat-card-title>
  <mat-card-subtitle>View all the list of the staff in the Hotel.</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="/staff" routerLinkActive="active" class="nav-link">Staff List</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card">
  <mat-card-title>Add staff.</mat-card-title>
  <mat-card-subtitle>Adding the new staff details.</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="/create-staff" routerLinkActive="" class="nav-link"> Add Staff </button>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card">
  <mat-card-title>Guest and Room. </mat-card-title>
  <mat-card-subtitle>View all the list of the guest and room in the Hotel.</mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" routerLink="/guest" routerLinkActive="active" class="nav-link">Guest/Room</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card">
  <mat-card-title>Book a Room.</mat-card-title>
  <mat-card-subtitle>To book a room and add the Guest Details.</mat-card-subtitle>
  <mat-card-content>
    <button  mat-raised-button color="primary" routerLink="/create-guest" routerLinkActive="active" class="nav-link">Book a Room </button>
  </mat-card-content>
</mat-card>
