<button mat-raised-button color="primary" onclick="history.back()">Go Back</button>
<h3> Guest Details</h3>
<mat-card>
    <div>
        <div>
            <label> <b> Member Code : </b></label> {{guest.id}}
        </div>
        <div>
            <label> <b> Name: </b></label> {{guest.guestName}}
        </div>
        <div>
            <label> <b> Phone Number : </b></label> {{guest.phoneNo}}
        </div>
        <div>
            <label> <b> Company Name : </b></label> {{guest.companyName}}
        </div>
        <div>
            <label> <b> E-mail : </b></label> {{guest.eMail}}
        </div>
        <div>
            <label> <b> Gender : </b></label> {{guest.guestGender}}
        </div>
        <div>
            <label> <b> Address : </b></label> {{guest.guestAdd}}
        </div>
        <div>
            <label> <b> Room NO : </b></label> {{guest.roomNo}}
        </div>
        <div>
            <label> <b> CheckIn : </b></label> {{guest.checkIn}}
        </div>
        <div>
            <label> <b> CheckOut : </b></label> {{guest.checkOut}}
        </div>
        <div>
            <label> <b> Price : </b></label> {{guest.price}}
        </div>
    </div>
</mat-card>