<h3> Staff Details</h3>

<!-- <mat-card>Code:{{staff.code}} <br>
    Name:{{staff.employeeName}}<br>
    Address:{{staff.employeeAdd}}<br>
    NIC Code:{{staff.nicCode}}<br>
    Salary:{{staff.employeeSal}}<br>
    Age:{{staff.employeeAge}}<br>
    Occupation:{{staff.occupation}}<br>
    E-Mail:{{staff.eMail}} </mat-card> -->
    <button mat-raised-button color="primary" onclick="history.back()">Go Back</button>

<mat-card>
    <div>
        <div>
            <label> <b> Code : </b></label> {{staff.code}}
        </div>
        <div>
            <label> <b> Name : </b></label> {{staff.employeeName}}
        </div>
        <div>
            <label> <b> Address : </b></label> {{staff.employeeAdd}}
        </div>
        <div>
            <label> <b> NIC Code : </b></label> {{staff.nicCode}}
        </div>
        <div>
            <label> <b>Salary : </b></label> {{staff.employeeSal}}
        </div>
        <div>
            <label> <b>Age : </b></label> {{staff.employeeAge}}
        </div>
        <div>
            <label> <b> Occupation : </b></label> {{staff.occupation}}
        </div>
        <div>
            <label> <b> E-Mail : </b></label> {{staff.eMail}}
        </div>
    </div>
</mat-card>